In [1]:
import pyspark

In [8]:
# In Python
from pyspark.sql import SparkSession
# Define schema for our data using DDL
schema = "`Id` INT, `First` STRING, `Last` STRING, `Url` STRING, `Published` STRING, `Hits` INT, `Campaigns` ARRAY<STRING>"
# Create our static data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
        [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
        [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web", "twitter", "FB", "LinkedIn"]],
        [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
        [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
        [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
        ]

In [9]:
# Create a SparkSession
spark = (SparkSession
    .builder
    .appName("PySpark")
    .getOrCreate())
# Create a DataFrame using the schema defined above
blogs_df = spark.createDataFrame(data, schema)
# Show the DataFrame; it should reflect our table above
blogs_df.show()
# Print the schema used by Spark to process the DataFrame
print(blogs_df.printSchema())

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

None

In [10]:
import pandas as pd

In [11]:
pd.set_option('display.max_columns', None)

In [13]:
df = pd.read_csv('C:/Users/vovad/Desktop/sf-fire-calls.csv', low_memory=False)

# usecols=['CallNumber', 'UnitID', 'IncidentNumber', 'CallType', 'WatchDate', 'CallFinalDisposition',
# 'AvailableDtTm','Address', 'City', 'Zipcode', 'Battalion', 'StationArea', 'Box', 'OriginalPriority', 'Priority', 'FinalPriority', 'ALSUnit', 'CallTypeGroup', 
# 'NumAlarms', 'UnitType', 'UnitSequenceInCallDispatch', 'FirePreventionDistrict', 'SupervisorDistrict', 'Neighborhood', 'Location', 
# 'RowID', 'Delay']

In [14]:
df.describe()

,CallNumber,IncidentNumber,Zipcode,FinalPriority,NumAlarms,UnitSequenceInCallDispatch,Delay
count,1.752960e+05,1.752960e+05,175154.000000,175296.000000,175296.000000,175295.000000,175296.000000
mean,1.002352e+08,9.900786e+06,94113.586016,2.792174,1.004986,2.128041,3.892364
std,5.396909e+07,5.407020e+06,10.221870,0.405752,0.098120,2.054384,9.378286
min,1.030128e+06,3.063600e+04,94102.000000,2.000000,1.000000,1.000000,0.016667
25%,5.260760e+07,5.069632e+06,94104.000000,3.000000,1.000000,1.000000,2.183333
50%,1.028500e+08,1.009064e+07,94110.000000,3.000000,1.000000,2.000000,3.083333
75%,1.504626e+08,1.501800e+07,94121.000000,3.000000,1.000000,2.000000,4.233333
max,1.831040e+08,1.813030e+07,94158.000000,3.000000,5.000000,68.000000,1844.550000

In [16]:
from pyspark.sql.types import *
# Programmatic way to define a schema
fire_schema = StructType([StructField('CallNumber', IntegerType(), True),
StructField('UnitID', StringType(), True),
StructField('IncidentNumber', IntegerType(), True),
StructField('CallType', StringType(), True),
StructField('CallDate', StringType(), True),
StructField('WatchDate', StringType(), True),
StructField('CallFinalDisposition', StringType(), True),
StructField('AvailableDtTm', StringType(), True),
StructField('Address', StringType(), True),
StructField('City', StringType(), True),
StructField('Zipcode', IntegerType(), True),
StructField('Battalion', StringType(), True),
StructField('StationArea', StringType(), True),
StructField('Box', StringType(), True),
StructField('OriginalPriority', StringType(), True),
StructField('Priority', StringType(), True),
StructField('FinalPriority', IntegerType(), True),
StructField('ALSUnit', BooleanType(), True),
StructField('CallTypeGroup', StringType(), True),
StructField('NumAlarms', IntegerType(), True),
StructField('UnitType', StringType(), True),
StructField('UnitSequenceInCallDispatch', IntegerType(), True),
StructField('FirePreventionDistrict', StringType(), True),
StructField('SupervisorDistrict', StringType(), True),
StructField('Neighborhood', StringType(), True),
StructField('Location', StringType(), True),
StructField('RowID', StringType(), True),
StructField('Delay', FloatType(), True)])

In [17]:
# Use the DataFrameReader interface to read a CSV file
sf_fire_file = "C:/Users/vovad/Desktop/sf-fire-calls.csv"
fire_df = spark.read.csv(sf_fire_file, header=True, schema=fire_schema)

In [18]:
from pyspark.sql.functions import *

In [19]:
few_fire_df = (fire_df
.select("IncidentNumber", "AvailableDtTm", "CallType")
.where(col("CallType") != "Medical Incident"))
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [20]:
new_fire_df = fire_df.withColumnRenamed("Delay", "ResponseDelayedinMins")
(new_fire_df
.select("ResponseDelayedinMins")
.where(col("ResponseDelayedinMins") > 5)
.show(5, False))

+---------------------+
|ResponseDelayedinMins|
+---------------------+
|5.35                 |
|6.25                 |
|5.2                  |
|5.6                  |
|7.25                 |
+---------------------+
only showing top 5 rows

In [21]:
(fire_df
.select("CallType")
.where(col("CallType").isNotNull())
.distinct()
.show(10, False))

+-----------------------------+
|CallType                     |
+-----------------------------+
|Elevator / Escalator Rescue  |
|Marine Fire                  |
|Aircraft Emergency           |
|Administrative               |
|Alarms                       |
|Odor (Strange / Unknown)     |
|Citizen Assist / Service Call|
|HazMat                       |
|Watercraft in Distress       |
|Explosion                    |
+-----------------------------+
only showing top 10 rows

In [22]:
fire_ts_df = (new_fire_df
.withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy"))
.drop("CallDate")
.withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
.drop("WatchDate")
.withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"),
"MM/dd/yyyy hh:mm:ss a"))
.drop("AvailableDtTm"))
# Select the converted columns
(fire_ts_df
.select("IncidentDate", "OnWatchDate", "AvailableDtTS")
.show(5, False))

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [23]:
(fire_ts_df
.select("CallType")
.where(col("CallType").isNotNull())
.groupBy("CallType")
.count()
.orderBy("count", ascending=False)
.show(n=10, truncate=False))

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

In [24]:
spark.stop()

In [25]:
# In Python
from pyspark.sql import SparkSession
# Create a SparkSession
spark = (SparkSession
.builder
.appName("SparkSQLExampleApp")
.getOrCreate())

In [26]:
spark

In [27]:
# Path to data set
csv_file = "C:/Users/vovad/Desktop/departuredelays.csv"
# Read and create a temporary view
# Infer schema (note that for larger files you
# may want to specify the schema)
df = (spark.read.format("csv")
.option("inferSchema", "true")
.option("header", "true")
.load(csv_file))
df.createOrReplaceTempView("us_delay_flights_tbl")

In [28]:
df

DataFrame[date: int, delay: int, distance: int, origin: string, destination: string]

In [29]:
import pyspark.sql.functions as F

In [30]:
(
    df.groupBy("destination").agg(
        F.round(F.avg("distance"), 2).alias("Среднее"),
        F.min("delay").alias("МИН"),
        F.max("delay").alias("МАКС")).show()
)

+-----------+-------+---+----+
|destination|Среднее|МИН|МАКС|
+-----------+-------+---+----+
|        MSY| 618.12|-16| 503|
|        PPG| 2259.0|-11|  32|
|        GEG| 615.12|-17| 351|
|        SNA| 665.76|-18| 375|
|        BUR| 395.26|-18| 283|
|        GRB| 214.16|-13| 323|
|        GTF| 467.07|-31| 266|
|        IDA| 253.67|-19| 211|
|        GRR| 503.01|-14| 579|
|        JLN|  284.0|-13| 192|
|        EUG| 468.12|-15| 258|
|        PVD| 649.35|-13| 684|
|        GSO| 423.04|-14| 370|
|        MYR| 280.15| -9| 253|
|        OAK| 537.91|-20| 560|
|        MSN| 443.21|-13| 377|
|        FSM| 326.61|-14| 226|
|        FAR| 493.58|-13| 777|
|        COD| 298.65|-17| 218|
|        SCC|  375.8|-23| 168|
+-----------+-------+---+----+
only showing top 20 rows

In [31]:
spark.sql("""SELECT distance, origin, destination
FROM us_delay_flights_tbl WHERE distance > 1000
ORDER BY distance DESC""").show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [32]:
spark.sql("""SELECT date, delay, origin, destination
             FROM us_delay_flights_tbl
             WHERE delay > 120 AND ORIGIN = 'SFO' AND DESTINATION = 'ORD'
             ORDER by delay DESC""").show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|1031755|  396|   SFO|        ORD|
|1022330|  326|   SFO|        ORD|
|1051205|  320|   SFO|        ORD|
|1190925|  297|   SFO|        ORD|
|2171115|  296|   SFO|        ORD|
|1071040|  279|   SFO|        ORD|
|1051550|  274|   SFO|        ORD|
|3120730|  266|   SFO|        ORD|
|1261104|  258|   SFO|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

In [33]:
spark.sql("""SELECT delay, origin, destination,
CASE
WHEN delay > 360 THEN 'Very Long Delays'
WHEN delay > 120 AND delay < 360 THEN 'Long Delays'
WHEN delay > 60 AND delay < 120 THEN 'Short Delays'
WHEN delay > 0 and delay < 60 THEN 'Tolerable Delays'
WHEN delay = 0 THEN 'No Delays'
ELSE 'Early'
END AS Flight_Delays
FROM us_delay_flights_tbl
ORDER BY origin, delay DESC""").show(10)

+-----+------+-----------+-------------+
|delay|origin|destination|Flight_Delays|
+-----+------+-----------+-------------+
|  333|   ABE|        ATL|  Long Delays|
|  305|   ABE|        ATL|  Long Delays|
|  275|   ABE|        ATL|  Long Delays|
|  257|   ABE|        ATL|  Long Delays|
|  247|   ABE|        DTW|  Long Delays|
|  247|   ABE|        ATL|  Long Delays|
|  219|   ABE|        ORD|  Long Delays|
|  211|   ABE|        ATL|  Long Delays|
|  197|   ABE|        DTW|  Long Delays|
|  192|   ABE|        ORD|  Long Delays|
+-----+------+-----------+-------------+
only showing top 10 rows

In [34]:
(df.select("distance", "origin", "destination", "delay")
.where(col("distance") > 1000)
.orderBy(desc("distance"))).show(10)

+--------+------+-----------+-----+
|distance|origin|destination|delay|
+--------+------+-----------+-----+
|    4330|   HNL|        JFK|   -1|
|    4330|   HNL|        JFK|   16|
|    4330|   HNL|        JFK|  932|
|    4330|   HNL|        JFK|   -5|
|    4330|   HNL|        JFK|   -9|
|    4330|   HNL|        JFK|   -1|
|    4330|   HNL|        JFK|   -6|
|    4330|   HNL|        JFK|   -1|
|    4330|   HNL|        JFK|   -2|
|    4330|   HNL|        JFK|   -8|
+--------+------+-----------+-----+
only showing top 10 rows

In [35]:
spark.sql("SELECT * FROM us_delay_flights_tbl").show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011245|    6|     602|   ABE|        ATL|
|1020600|   -8|     369|   ABE|        DTW|
|1021245|   -2|     602|   ABE|        ATL|
|1020605|   -4|     602|   ABE|        ATL|
|1031245|   -4|     602|   ABE|        ATL|
|1030605|    0|     602|   ABE|        ATL|
|1041243|   10|     602|   ABE|        ATL|
|1040605|   28|     602|   ABE|        ATL|
|1051245|   88|     602|   ABE|        ATL|
|1050605|    9|     602|   ABE|        ATL|
|1061215|   -6|     602|   ABE|        ATL|
|1061725|   69|     602|   ABE|        ATL|
|1061230|    0|     369|   ABE|        DTW|
|1060625|   -3|     602|   ABE|        ATL|
|1070600|    0|     369|   ABE|        DTW|
|1071725|    0|     602|   ABE|        ATL|
|1071230|    0|     369|   ABE|        DTW|
|1070625|    0|     602|   ABE|        ATL|
|1071219|    0|     569|   ABE|        ORD|
|1080600|    0|     369|   ABE|        DTW|
+-------+-----+--------+------+-----------+
only showing top 20 rows

In [36]:
filePath = "C:/Users/vovad/Desktop/Exp/air.parquet"
airbnbDF = spark.read.parquet(filePath)
airbnbDF.select("neighbourhood_cleansed", "room_type", "bedrooms", "bathrooms",
"number_of_reviews", "price").show(5)

+----------------------+---------------+--------+---------+-----------------+-----+
|neighbourhood_cleansed|      room_type|bedrooms|bathrooms|number_of_reviews|price|
+----------------------+---------------+--------+---------+-----------------+-----+
|      Western Addition|Entire home/apt|     1.0|      1.0|            180.0|170.0|
|        Bernal Heights|Entire home/apt|     2.0|      1.0|            111.0|235.0|
|        Haight Ashbury|   Private room|     1.0|      4.0|             17.0| 65.0|
|        Haight Ashbury|   Private room|     1.0|      4.0|              8.0| 65.0|
|      Western Addition|Entire home/apt|     2.0|      1.5|             27.0|785.0|
+----------------------+---------------+--------+---------+-----------------+-----+
only showing top 5 rows

In [37]:
trainDF, testDF = airbnbDF.randomSplit([.8,.2], seed=42)
print(f"""There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set""")

There are 5780 rows in the training set, and 1366 in the test set

In [38]:
from pyspark.ml.feature import VectorAssembler
vecAssembler = VectorAssembler(inputCols=["bedrooms"], outputCol="features")
vecTrainDF = vecAssembler.transform(trainDF)
vecTrainDF.select("bedrooms","features", "price").show(10)

+--------+--------+-----+
|bedrooms|features|price|
+--------+--------+-----+
|     1.0|   [1.0]|200.0|
|     1.0|   [1.0]|130.0|
|     1.0|   [1.0]| 95.0|
|     1.0|   [1.0]|250.0|
|     3.0|   [3.0]|250.0|
|     1.0|   [1.0]|115.0|
|     1.0|   [1.0]|105.0|
|     1.0|   [1.0]| 86.0|
|     1.0|   [1.0]|100.0|
|     2.0|   [2.0]|220.0|
+--------+--------+-----+
only showing top 10 rows

In [39]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol="features", labelCol="price")
lrModel = lr.fit(vecTrainDF)

In [44]:
print(lrModel.coefficients[0])
print(lrModel.intercept)
m = lrModel.coefficients[0]
b = lrModel.intercept, 2
print(f"""The formula for the linear regression line is price = {m}*bedrooms + {b}""")

123.6757463819947
47.51023373378815
The formula for the linear regression line is price = 123.6757463819947*bedrooms + (47.51023373378815, 2)

In [45]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[vecAssembler, lr])
pipelineModel = pipeline.fit(trainDF)

In [46]:
predDF = pipelineModel.transform(testDF)
predDF.select("bedrooms", "features", "price", "prediction").show(10)

+--------+--------+------+------------------+
|bedrooms|features| price|        prediction|
+--------+--------+------+------------------+
|     1.0|   [1.0]|  85.0|171.18598011578285|
|     1.0|   [1.0]|  45.0|171.18598011578285|
|     1.0|   [1.0]|  70.0|171.18598011578285|
|     1.0|   [1.0]| 128.0|171.18598011578285|
|     1.0|   [1.0]| 159.0|171.18598011578285|
|     2.0|   [2.0]| 250.0|294.86172649777757|
|     1.0|   [1.0]|  99.0|171.18598011578285|
|     1.0|   [1.0]|  95.0|171.18598011578285|
|     1.0|   [1.0]| 100.0|171.18598011578285|
|     1.0|   [1.0]|2010.0|171.18598011578285|
+--------+--------+------+------------------+
only showing top 10 rows

In [47]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer

categoricalCols = [field for (field, dataType) in trainDF.dtypes if dataType == "string"]
indexOutputCols = [x + "Index" for x in categoricalCols]
oheOutputCols = [x + "OHE" for x in categoricalCols]

stringIndexer = StringIndexer(inputCols=categoricalCols,
                              outputCols=indexOutputCols,
                              handleInvalid="skip")

oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                           outputCols=oheOutputCols)

numericCols = [field for (field, dataType) in trainDF.dtypes if ((dataType == "double") & (field != "price"))]
assemblerInputs = oheOutputCols + numericCols
vecAssembler = VectorAssembler(inputCols=assemblerInputs,
                               outputCol="features")

In [48]:
trainDF.columns

['host_is_superhost',
 'cancellation_policy',
 'instant_bookable',
 'host_total_listings_count',
 'neighbourhood_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'minimum_nights',
 'number_of_reviews',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'price',
 'bedrooms_na',
 'bathrooms_na',
 'beds_na',
 'review_scores_rating_na',
 'review_scores_accuracy_na',
 'review_scores_cleanliness_na',
 'review_scores_checkin_na',
 'review_scores_communication_na',
 'review_scores_location_na',
 'review_scores_value_na']

In [49]:
from pyspark.ml.feature import RFormula
rFormula = RFormula(formula="price ~ .",
                    featuresCol="features",
                    labelCol="price",
                    handleInvalid="skip")
lr = LinearRegression(labelCol="price", featuresCol="features")
pipeline = Pipeline(stages = [stringIndexer, oheEncoder, vecAssembler, lr])
# pipeline = Pipeline(stages = [rFormula, lr])
pipelineModel = pipeline.fit(trainDF)
predDF = pipelineModel.transform(testDF)
predDF.select("features", "price", "prediction").show(5)

+--------------------+-----+------------------+
|            features|price|        prediction|
+--------------------+-----+------------------+
|(98,[0,3,6,22,43,...| 85.0| 55.24365707389188|
|(98,[0,3,6,22,43,...| 45.0|23.357685914717877|
|(98,[0,3,6,22,43,...| 70.0|28.474464479034395|
|(98,[0,3,6,12,42,...|128.0| -91.6079079594947|
|(98,[0,3,6,12,43,...|159.0| 95.05688229945372|
+--------------------+-----+------------------+
only showing top 5 rows

In [50]:
from pyspark.ml.evaluation import RegressionEvaluator
regressionEvaluator = RegressionEvaluator(
    predictionCol="prediction",
    labelCol="price",
    metricName="rmse")
rmse = regressionEvaluator.evaluate(predDF)
print(f"RMSE is {rmse:.1f}")

RMSE is 220.6

In [51]:
r2 = regressionEvaluator.setMetricName("r2").evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.16043316698848087

In [52]:
from pyspark.ml.regression import DecisionTreeRegressor

dt = DecisionTreeRegressor(labelCol="price")

numericCols = [field for (field, dataType) in trainDF.dtypes if (( dataType == "double") & (field != "price"))]

assemblerInputs = indexOutputCols + numericCols
vecAssembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")

stages = [stringIndexer, vecAssembler, dt]

pipeline = Pipeline(stages=stages)
dt.setMaxBins(40)
pipelineModel = pipeline.fit(trainDF)

In [53]:
dtModel = pipelineModel.stages[-1]
print(dtModel.toDebugString)

DecisionTreeRegressionModel: uid=DecisionTreeRegressor_2a0384b8f7cc, depth=5, numNodes=47, numFeatures=33
  If (feature 12 <= 2.5)
   If (feature 12 <= 1.5)
    If (feature 5 in {1.0,2.0})
     If (feature 4 in {0.0,1.0,3.0,5.0,9.0,10.0,11.0,13.0,14.0,16.0,18.0,24.0})
      If (feature 3 in {0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0})
       Predict: 104.23992784125075
      Else (feature 3 not in {0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0})
       Predict: 250.7111111111111
     Else (feature 4 not in {0.0,1.0,3.0,5.0,9.0,10.0,11.0,13.0,14.0,16.0,18.0,24.0})
      If (feature 3 in {0.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,27.0,33.0,35.0})
       Predict: 151.94179894179894
      Else (feature 3 not in {0.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,27.0,33.0,35.0})
       Predict: 245.8507462686567
    Else (feature 5 not in {1.0,2.0})
     If (feature 3 in {1.0,5.0,6.0,7.0,8.0,9.0,11.0,13.0,15.0,16.0,17.0,19.0,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,33.0})
      If (feature 3 in {5.0,8.0,13.0,15.0,16.0,19.0,22.0,23.0,24.0,25.0,28.0,30.0,33.0})
       Predict: 131.96658097686375
      Else (feature 3 not in {5.0,8.0,13.0,15.0,16.0,19.0,22.0,23.0,24.0,25.0,28.0,30.0,33.0})
       Predict: 164.19959266802445
     Else (feature 3 not in {1.0,5.0,6.0,7.0,8.0,9.0,11.0,13.0,15.0,16.0,17.0,19.0,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,33.0})
      If (feature 10 <= 6.5)
       Predict: 205.5814889336016
      Else (feature 10 > 6.5)
       Predict: 841.6666666666666
   Else (feature 12 > 1.5)
    If (feature 13 <= 4.5)
     If (feature 3 in {0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,15.0,16.0,17.0,18.0,19.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,33.0,34.0})
      If (feature 14 <= 26.5)
       Predict: 290.8357933579336
      Else (feature 14 > 26.5)
       Predict: 214.04819277108433
     Else (feature 3 not in {0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,15.0,16.0,17.0,18.0,19.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,33.0,34.0})
      If (feature 14 <= 3.5)
       Predict: 741.64
      Else (feature 14 > 3.5)
       Predict: 309.03921568627453
    Else (feature 13 > 4.5)
     If (feature 15 <= 0.5)
      If (feature 2 in {1.0})
       Predict: 300.0
      Else (feature 2 not in {1.0})
       Predict: 10000.0
     Else (feature 15 > 0.5)
      If (feature 3 in {1.0,4.0,5.0,7.0,8.0,19.0})
       Predict: 222.91666666666666
      Else (feature 3 not in {1.0,4.0,5.0,7.0,8.0,19.0})
       Predict: 398.0
  Else (feature 12 > 2.5)
   If (feature 1 in {0.0,1.0,2.0,3.0,4.0})
    If (feature 12 <= 5.5)
     If (feature 3 in {0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,10.0,11.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,21.0,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,33.0})
      If (feature 14 <= 7.5)
       Predict: 493.3795620437956
      Else (feature 14 > 7.5)
       Predict: 296.76666666666665
     Else (feature 3 not in {0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,10.0,11.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,21.0,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,33.0})
      If (feature 9 <= -122.411075)
       Predict: 722.96875
      Else (feature 9 > -122.411075)
       Predict: 2399.4
    Else (feature 12 > 5.5)
     If (feature 4 in {0.0,1.0,5.0,7.0})
      If (feature 3 in {0.0,3.0,6.0,25.0})
       Predict: 609.5
      Else (feature 3 not in {0.0,3.0,6.0,25.0})
       Predict: 1715.0
     Else (feature 4 not in {0.0,1.0,5.0,7.0})
      Predict: 8000.0
   Else (feature 1 not in {0.0,1.0,2.0,3.0,4.0})
    Predict: 8000.0

Extract the feature importance

In [54]:
featureImp = pd.DataFrame(list(zip(vecAssembler.getInputCols(), dtModel.featureImportances)), columns=["feature", "importance"])
featureImp.sort_values(by="importance", ascending=False)

                           feature  importance
12                        bedrooms    0.283406
1         cancellation_policyIndex    0.167893
2            instant_bookableIndex    0.140081
4               property_typeIndex    0.128179
15               number_of_reviews    0.126233
3      neighbourhood_cleansedIndex    0.056200
9                        longitude    0.038810
14                  minimum_nights    0.029473
13                            beds    0.015218
5                   room_typeIndex    0.010905
10                    accommodates    0.003603
0           host_is_superhostIndex    0.000000
24                    bathrooms_na    0.000000
25                         beds_na    0.000000
26         review_scores_rating_na    0.000000
27       review_scores_accuracy_na    0.000000
28    review_scores_cleanliness_na    0.000000
22             review_scores_value    0.000000
29        review_scores_checkin_na    0.000000
30  review_scores_communication_na    0.000000
31       review_scores_location_na    0.000000
23                     bedrooms_na    0.000000
16            review_scores_rating    0.000000
21          review_scores_location    0.000000
20     review_scores_communication    0.000000
19           review_scores_checkin    0.000000
18       review_scores_cleanliness    0.000000
17          review_scores_accuracy    0.000000
11                       bathrooms    0.000000
8                         latitude    0.000000
7        host_total_listings_count    0.000000
6                    bed_typeIndex    0.000000
32          review_scores_value_na    0.000000

Random forests

In [55]:
from pyspark.ml.regression import RandomForestRegressor

rf = RandomForestRegressor(labelCol="price", maxBins=40, seed=42)

In [56]:
pipeline = Pipeline(stages = [stringIndexer, vecAssembler, rf])

In [57]:
from pyspark.ml.tuning import ParamGridBuilder
paramGrid = (ParamGridBuilder()
.addGrid(rf.maxDepth, [2,4,6])
.addGrid(rf.numTrees, [10,100])
.build())

In [58]:
evaluator = RegressionEvaluator(labelCol="price",
                                predictionCol="prediction",
                                metricName="rmse")

In [59]:
from pyspark.ml.tuning import CrossValidator

cv = CrossValidator(estimator=pipeline,
                    evaluator=evaluator,
                    estimatorParamMaps=paramGrid,
                    numFolds=3,
                    seed=42)
cvModel = cv.fit(trainDF)

In [ ]:
list(zip(cvModel.getEstimatorParamMaps(), cvModel.avgMetrics))

In [61]:
cvModel = cv.setParallelism(4).fit(trainDF)

In [62]:
cv = CrossValidator(estimator=rf,
                    evaluator=evaluator,
                    estimatorParamMaps=paramGrid,
                    numFolds=3,
                    parallelism=4,
                    seed=42)
pipeline = Pipeline(stages=[stringIndexer, vecAssembler, cv])
pipelineModel = pipeline.fit(trainDF)

MLFLOW

In [63]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
filePath = "C:/Users/vovad/Desktop/Exp/air.parquet"
airbnbDF = spark.read.parquet(filePath)
(trainDF, testDF) = airbnbDF.randomSplit([.8, .2], seed=42)
categoricalCols = [field for (field, dataType) in trainDF.dtypes if dataType == "string"]
indexOutputCols = [x + "Index" for x in categoricalCols]
stringIndexer = StringIndexer(inputCols=categoricalCols,
                              outputCols=indexOutputCols,
                              handleInvalid="skip")
numericCols = [field for (field, dataType) in trainDF.dtypes if ((dataType == "double") & (field != "price"))]
assemblerInputs = indexOutputCols + numericCols
vecAssembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
rf = RandomForestRegressor(labelCol="price", maxBins=40, maxDepth=5, numTrees=100, seed=42)
pipeline = Pipeline(stages=[stringIndexer, vecAssembler, rf])

In [64]:
import mlflow
import mlflow.spark
from sklearn.utils import parallel_backend
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from joblibspark import register_spark

In [65]:
register_spark()

In [66]:
df = pd.read_csv("C:/Users/vovad/Desktop/Exp/sf-airbnb.csv")

In [67]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(["price"], axis=1), 
                                                    df[["price"]].values.ravel(), 
                                                    random_state=42)

In [2]:
import pandas as pd

In [8]:
path_edges = "C:/Users/vovad/Downloads/FAO_Multiplex_Trade/FAO_Multiplex_Trade/Dataset/fao_trade_multiplex.edges"
data_edges = pd.read_csv(filepath_or_buffer=path_edges, sep=" ", header=None)

In [10]:
path_layers = "C:/Users/vovad/Downloads/FAO_Multiplex_Trade/FAO_Multiplex_Trade/Dataset/fao_trade_layers.txt"
data_layers = pd.read_csv(filepath_or_buffer=path_layers, sep=" ", header=0)

In [12]:
path_nodes = "C:/Users/vovad/Downloads/FAO_Multiplex_Trade/FAO_Multiplex_Trade/Dataset/fao_trade_nodes.txt"
data_nodes = pd.read_csv(filepath_or_buffer=path_nodes, sep=" ", header=0)

In [14]:
data_edges, data_nodes, data_layers

(          0    1   2      3
 0         1    2   1  475.0
 1         1    2   2   57.0
 2         1    2   3    8.0
 3         1    2   4    1.0
 4         1    2   6  513.0
 ...     ...  ...  ..    ...
 318341  364  114   5    6.0
 318342  364  144  18  116.0
 318343  364  151   6    1.0
 318344  364  167  18  401.0
 318345  364  187   5   34.0

 [318346 rows x 4 columns],
      nodeID       nodeLabel
 0         1     Afghanistan
 1         2       Australia
 2         3         Austria
 3         4         Belgium
 4         5          Brazil
 ..      ...             ...
 209     210  Cayman_Islands
 210     211         Mayotte
 211     212        Maldives
 212     213      Mauritania
 213     214         Andorra

 [214 rows x 2 columns],
      layerID                   layerLabel
 0          1     Beverages,_non_alcoholic
 1          2                  Cream_fresh
 2          3                Food_prep_nes
 3          4       Cheese,_whole_cow_milk
 4          5                   Cigarettes
 ..       ...                          ...
 359      360            Rabbits_and_hares
 360      361  Silk-worm_cocoons,_reelable
 361      362     Skins,_calve,_wet_salted
 362      363          Rice,_milled/husked
 363      364     Skins,_sheep,_wet_salted

 [364 rows x 2 columns])